<div *ngIf="tasks.length === 0; else table"
  class="alert alert-warning text-center">
  No tasks to display
</div>

<ng-template #table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th style="width: 4%;">#</th>
        <th style="width: 25%;">Task</th>
        <th style="width: 55%;">Description</th>
        <th style="width: 8%;">Status</th>
        <th style="width: 8%;"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks; let i=index">
        <td>{{ i + 1 }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>
          <i *ngIf="!task.completed" class="fas fa-times text-green-500">To do</i>
          <i *ngIf="task.completed" class="fas fa-check text-red-500">Completed</i>
        </td>
        <td>
          <button
          mat-button color="warn"
          (click)="onUpdateTask( task.id )">
            <mat-icon>update</mat-icon>
          </button>
          <button
          mat-button color="warn"
          (click)="onDeleteTask( task.id )">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</ng-template>
