<div *ngIf="tasks.length === 0; else table"
 class="alert alert-warning text-center">
  No tasks to display
</div>

<ng-template #table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Task</th>
        <th>Description</th>
        <th>Pending</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks; let i=index">
        <td>{{ i + 1 }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>
          <i *ngIf="!task.completed" class="fas fa-times text-green-500"></i>
          <i *ngIf="task.completed" class="fas fa-check text-red-500"></i>
      </tr>
    </tbody>
  </table>

</ng-template>
