<h2>Task Manager</h2>
<hr>

<ul class="list-group">

  <li routerLink="main"
    routerLinkActive="active"
    class="list-group-item">
    Main view
  </li>
  <li routerLink="create-task"
    routerLinkActive="active"
    class="list-group-item">
    Add new task
  </li>
  <li routerLink="history"
    routerLinkActive="active"
    class="list-group-item">
    Task history
  </li>
  <li
  class="list-group-item">
    <div *ngIf="( auth.isAuthenticated$ | async ); else loggedOut">
      <button (click)="auth.logout()">Logout</button>
    </div>
    <ng-template #loggedOut>
      <button (click)="auth.login()">Login</button>
    </ng-template>
  </li>

</ul>
