<div class="container mt-4">
  <div class="card shadow-lg p-4">

    <form (ngSubmit)="onSubmit()">

      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" class="form-control" formControlName="title" placeholder="Insert title" />
        <div *ngIf="taskForm.get('title')?.invalid && taskForm.get('title')?.touched" class="text-danger">
          Title is required
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" class="form-control" formControlName="description" placeholder="Insert description"></textarea>
      </div>

      <button type="submit" class="btn btn-primary w-100" [disabled]="taskForm.invalid">Save</button>

    </form>
  </div>
</div>
